#wrapper
{
height:100%;
width:980px;
margin:0 auto;
margin-top:60px;
}


#top
{

height:50%;
width:100%;

}

#bottom
{

height:50%;
width:100%;

}

#box1
{
height:200px;
width:300px;
border-style:solid;
border:2px;
background-color:purple;
opacity:0.8;
float:left;
border-radius:10px;
box-shadow:5px 5px 10px silver;
}

#box2
{
height:200px;
width:300px;
background-color:red;
opacity:0.8;
float:right;
border-radius:10px;
box-shadow:5px 5px 10px silver;
}

#box3
{
height:200px;
width:300px;
background-color:blue;
opacity:0.8;
float:left;
border-radius:10px;
box-shadow:5px 5px 10px silver;
}

#box4
{
height:200px;
width:300px;
background-color:black;
opacity:0.8;
float:right;
border-radius:10px;
box-shadow:5px 5px 10px silver;
}
#spacer
{
width:900px;
height:50px;
background-color:;
margin:20px;
opacity:0.7;
position:fixed;
right:239px;
top:260px;
border-radius:10px;
box-shadow:5px 5px 10px silver;
}

#inputbox1
{
background-color:silver;
border-radius:10px;
width:320px;
height:25px;
box-shadow:2px 2px 6px black;
position:relative;
top:65px;
left:160px;
}

#inputbox2
{
background-color:silver;
border-radius:10px;
width:320px;
height:25px;
box-shadow:2px 2px 6px black;
position:relative;
top:40px;
left:780px;
}

#inputbox3
{
background-color:silver;
border-radius:10px;
width:320px;
height:25px;
box-shadow:2px 2px 6px black;
position:relative;
top:40px;
}

#inputbox4
{
background-color:silver;
border-radius:10px;
width:320px;
height:25px;
box-shadow:2px 2px 6px black;
position:relative;
top:250px;
left:780px;
}